*~
.\#*
/*-stamp
/.debhelper/
/build-gtk/
/build-lucid/
/build-nox/
/build-src/
/build-x/
/elgz-canary
/elgz-info
/emacs
/emacs-bin-common
/emacs-bin-common.README.Debian
/emacs-bin-common.debhelper.log
/emacs-bin-common.lintian-overrides
/emacs-bin-common.postinst
/emacs-bin-common.postrm
/emacs-bin-common.prerm
/emacs-bin-common.substvars
/emacs-common
/emacs-common.README.00
/emacs-common.README.01
/emacs-common.README.Debian
/emacs-common.debhelper.log
/emacs-common.docs
/emacs-common.links
/emacs-common.lintian-overrides
/emacs-common.postinst
/emacs-common.postinst.debhelper
/emacs-common.postrm.debhelper
/emacs-common.prerm
/emacs-common.prerm.debhelper
/emacs-common.substvars
/emacs-el
/emacs-el.debhelper.log
/emacs-el.prerm
/emacs-el.substvars
/emacs-gtk
/emacs-gtk.README.Debian
/emacs-gtk.debhelper.log
/emacs-gtk.desktop
/emacs-gtk.links
/emacs-gtk.lintian-overrides
/emacs-gtk.menu
/emacs-gtk.postinst
/emacs-gtk.postinst.debhelper
/emacs-gtk.postrm
/emacs-gtk.postrm.debhelper
/emacs-gtk.prerm
/emacs-gtk.substvars
/emacs-lucid
/emacs-lucid.README.Debian
/emacs-lucid.debhelper.log
/emacs-lucid.desktop
/emacs-lucid.lintian-overrides
/emacs-lucid.menu
/emacs-lucid.postinst
/emacs-lucid.postinst.debhelper
/emacs-lucid.postrm.debhelper
/emacs-lucid.prerm
/emacs-lucid.substvars
/emacs-nox
/emacs-nox.README.Debian
/emacs-nox.debhelper.log
/emacs-nox.desktop
/emacs-nox.links
/emacs-nox.lintian-overrides
/emacs-nox.menu
/emacs-nox.postinst
/emacs-nox.postinst.debhelper
/emacs-nox.postrm
/emacs-nox.postrm.debhelper
/emacs-nox.prerm
/emacs-nox.substvars
/emacs.debhelper.log
/emacs.substvars
/files
/stamp-configured
/tmp-alt-list
\#*\#
