*~
.\#*
/build-gtk
/build-nox
/build-x
/emacs
/emacs22
/emacs22-bin-common
/emacs22-bin-common.README.Debian
/emacs22-bin-common.postinst
/emacs22-bin-common.postrm
/emacs22-bin-common.prerm
/emacs22-bin-common.substvars
/emacs22-common
/emacs22-common.README.Debian
/emacs22-common.docs
/emacs22-common.links
/emacs22-common.postinst
/emacs22-common.prerm
/emacs22-el
/emacs22-el.prerm
/emacs22-gtk
/emacs22-gtk.README.Debian
/emacs22-gtk.desktop
/emacs22-gtk.menu
/emacs22-gtk.postinst
/emacs22-gtk.postinst.debhelper
/emacs22-gtk.postrm.debhelper
/emacs22-gtk.prerm
/emacs22-gtk.substvars
/emacs22-nox
/emacs22-nox.README.Debian
/emacs22-nox.desktop
/emacs22-nox.links
/emacs22-nox.menu
/emacs22-nox.postinst
/emacs22-nox.postinst.debhelper
/emacs22-nox.postrm
/emacs22-nox.postrm.debhelper
/emacs22-nox.prerm
/emacs22-nox.substvars
/emacs22.README.Debian
/emacs22.desktop
/emacs22.links
/emacs22.menu
/emacs22.postinst
/emacs22.postinst.debhelper
/emacs22.postrm
/emacs22.postrm.debhelper
/emacs22.prerm
/emacs22.substvars
/emacsVER-common.README.00
/emacsVER-common.README.01
/files
/patches/autofiles.diff
/protected-files.tgz
/stamp
/tmp-alt-list
\#*\#
