*~
.\#*
/emacs-common-non-dfsg.README.00
/emacs-common-non-dfsg.README.01
/emacs22-common-non-dfsg
/emacs22-common-non-dfsg.README.Debian
/emacs22-common-non-dfsg.postinst
/emacs22-common-non-dfsg.prerm
/files
/stamp
\#*\#
